<div class="user-account">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input id="username" formControlName="username" />

    </div>
    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email" />
      
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" formControlName="password" type="password" />
  
    </div>
    <button type="submit">Create Account</button>
  </form>
  <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
</div>
